/* color-palette: #4740be; #17d1ef; #2d8ed9; #020708; */

html {
    height: 100%;
    width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face { 
    font-family: gazpachoItalicHeavy;
    src: url(fonts/GazpachoItalicHeavy.ttf);
}

@font-face {
    font-family: gazpachoBlack;
    src: url(fonts/GazpachoBlack.ttf);
}

@font-face {
    font-family: provicali;
    src: url(fonts/Provicali.otf);
}

@font-face { 
    font-family: sf-med;
    src: url(fonts/SF-Pro-Display-Medium.otf);
}

@font-face {
    font-family: sf-mono-bold;
    src: url(fonts/SF-Mono-Bold.otf);
}

@font-face {
    font-family: sf-mono-bold-italic;
    src: url(fonts/SF-Mono-BoldItalic.otf);
}

body { 
    background-image: url(images/hackerman.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    font-family: "sf-med";
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    -webkit-animation: animate 1s linear infinite;
    animation: animate 1s linear infinite;
    box-shadow: 0px 15px 25px 3px rgba(0, 0, 0, 0.5);;
  }
  
  #loader span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f00;
    left: 50%;
    border-radius: 50%;
    transform-origin: left;
  }
  
  #loader span:nth-child(1) {
    background: #0fa503;
    transform: rotate(0deg);
    z-index: 2;
  }
  
  #loader span:nth-child(2) {
    background: #ffd203;
    transform: rotate(60deg);
    z-index: 3;
  }
  
  #loader span:nth-child(3) {
    background: #54cd28;
    transform: rotate(120deg);
    z-index: 4;
  }
  
  #loader span:nth-child(4) {
    background: #129cf5;
    transform: rotate(180deg);
    z-index: 5;
  }
  
  #loader span:nth-child(5) {
    background: #bb5ed3;
    transform: rotate(240deg);
    z-index: 6;
  }
  
  #loader span:nth-child(6) {
    background: #ff4f45;
    transform: rotate(300deg);
    z-index: 7;
    overflow: hidden;
  }
  
  #loader span:nth-child(6):before {
    content: "";
    position: absolute;
    top: 90px;
    left: -144px;
    width: 100%;
    height: 100%;
    background: #ffd203;
    border-radius: 50%;
    z-index: 2;
  }
  
  #loader span:nth-child(6):after {
    content: "";
    position: absolute;
    top: 84px;
    left: -46px;
    width: 100%;
    height: 100%;
    background: #fea503;
    border-radius: 50%;
  }
  
  /* clockwise spin */
  @-webkit-keyframes animate {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  @keyframes animate {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  @-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

#content {
    -webkit-animation: fadein 1.5s;
    -moz-animation: fadeIn 1.5s;
    animation: fadein 1.5s;
}

.window-bar {
    background-color: #223039; 
    border: 1.5px solid;
    border-bottom: 1.5px solid;
    border-image: linear-gradient(to right, rgb(0,255,26) 30%, rgb(181,29,201) 75%) 5;
    width: auto;
    margin: auto;
    padding: 10px;
    text-align: right;
    font-family: "sf-mono-bold-italic";
    text-transform: uppercase;
    text-shadow: 1.5px 1.5px 0 rgb(181, 29, 201), -.35px -.35px 0 rgb(0, 255, 26), .35px -.35px 0 rgb(0, 255, 26),
    -.35px .35px 0 rgb(0, 255, 26), .35px .35px 0 rgb(0, 255, 26);
}

.purple, .middle, .green {
    float: left;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    margin: 4px 4px 0 0; 
}

.purple {
    background: rgb(215, 24, 240); 
    border: 1px solid rgb(136, 1, 154);
}

.purple:hover, .purple:focus {
  cursor: pointer;
  transform: scale(1.5);
}

.middle {
    background: rgb(150, 150, 150); 
    border: 1px solid rgb(99, 99, 99);
}

.green {
    background: rgb(0,255,26);
    border: 1px solid #1DAD2B;
}

#dropdown {
  display: none;
  background-color: #223039;
  margin-top: 12px;
}

.dropdown-content {
  display: none;
  text-align: left;
  background-color: #223039;
  color: #dcdcdc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #1b2227;
  color: #dcdcdc;
}

.dropdown-content a:hover {
  background-color: #2d3449;
}

.home {
    display: inline-block;
    animation-duration: 1.5s;
    color: #dcdcdc;
    font-size: 17px;
}

.home:hover {
    cursor:pointer;
}

#hello-world {
    font-family: "provicali";
    color: #000000;
    font-size: 80px;
    bottom: 300px;
    text-shadow: 3px 3px 0 rgb(181, 29, 201), -1px -1px 0 rgb(0, 255, 26), 1px -1px 0 rgb(0, 255, 26),
    -1px 1px 0 rgb(0, 255, 26), 1px 1px 0 rgb(0, 255, 26);
}

.typed-cursor {
    font-size: 74px;
    color: #000000;
    text-shadow: 3px 3px 0 rgb(181, 29, 201), -1px -1px 0 rgb(0, 255, 26), 1px -1px 0 rgb(0, 255, 26),
    -1px 1px 0 rgb(0, 255, 26), 1px 1px 0 rgb(0, 255, 26);
}

h3, .revolution:link, .revolution:visited, .revolution:active {
    font-family: "gazpachoItalicHeavy";
    color: rgb(0, 255, 26);
    transition: transform .2s ease;
    text-decoration: none;
    font-size: 22px;
    margin: 0 auto;
    width: 360px;
}

h3:hover, .revolution:hover {
    transform: scale(1.2);
    color: rgb(181,29,201);
}

article {
    font-size: 20px;
    color: #dcdcdc;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
    width: 50%;
    margin: 0% auto;
}

.purp-bold {
    font-weight: bolder;
    color:rgb(226, 3, 255);
}

.green-bold {
    font-weight: bolder;
    color: rgb(0, 255, 26);
}

button {
    font-family: "gazpachoItalicHeavy";
    background-color: transparent;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 30px;
    margin: 0 auto;
    width: 390px;
    transition: transform .25s ease;
}

#dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
}

.projects {
    color: rgb(181, 29, 201);
    text-decoration: none;
    padding: 300px;
}

button, .projects { 
    border-image: linear-gradient(to right, rgb(0,255,26) 30%, rgb(181,29,201) 75%) 40;
    padding: 10px 0 10px 0;
    font-family: "gazpachoBlack";
}

button:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 28px 46px 70px;
    transform: translateY(-5px);
}

.exp {
    color: rgb(181, 29, 201);
    text-decoration: none;
}

.projects:hover, .exp:hover{
    color: rgb(0,255,26);
    transition: .6s ease;
}

.macos-window {
  justify-content: center;
  align-items: center;
  background-color: #dcdcdc; /* Gray background for the window */
  border-radius: 15px; /* Adjust the border-radius for rounded corners */
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.macos-title-bar {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #223039; 
}

.macos-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.macos-title {
  flex-grow: 1;
  margin-right: 55px;
  font-size: 14px;
  color: #ffffff;
}

.contact {
    color: rgb(181, 29, 201);
    text-decoration: none;
}

.contact:hover {
    color: rgb(0, 255, 26);
    transition: .6s ease;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.link {
  text-decoration: underline;
  color: #223039; 
}

.link:hover:hover {
  color: rgb(181, 29, 201);
}

footer {
    color: #dcdcdc;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px; 

}

@media only screen and (max-width: 700px) {

    body {
        background-image: url(images/hackerman-mobile.jpeg);
        background-repeat: repeat-y;
    }

    #hello-world {
        text-align: center;
        align-items: center;
        margin-left: 0;
        font-size: 47px;
    }

    .typed-cursor {
        font-size: 9vw;
    }

    h3 {
        font-size: 10px;
    }
    
    h3:hover, a:hover {
        transform: scale(1.1);
    }

    article {
        font-size: 19.5px;
        text-align: left;
        width: auto;
    }

    .home {
        text-shadow: 1px 1px 0 rgb(181, 29, 201), -.25px -.25px 0 rgb(0, 255, 26), .25px -.25px 0 rgb(0, 255, 26),
        -.25px .25px 0 rgb(0, 255, 26), .25px .25px 0 rgb(0, 255, 26);
    }

    button, .projects {
        width: 80%;
        font-size: 20px;
    }

    footer {
        visibility: hidden;
    }
}
